# Анализ котировок

In [53]:
import scipy
import math
import numpy as np
import pandas as pd
import matplotlib
import sklearn
import tensorflow as tf

In [54]:
# Загружаем данные
df = pd.read_csv('C:\SBERBANK\QUIK_x64\lua\Si-6.23\SiM3_data_23-04-23\SiM3_Data.csv', index_col=0, parse_dates=False)

In [55]:
# Проиндексируем данные таким образом, чтобы дата и время стали индексом
df.index = df.index+ ' ' + df['Time']
df.head()

                  Time     Open     High      Low    Close  Volume
2023-4-24 19:55  19:55  80296.0  80300.0  80296.0  80297.0    53.0
2023-4-24 19:50  19:50  80302.0  80304.0  80293.0  80296.0   237.0
2023-4-24 19:45  19:45  80296.0  80324.0  80293.0  80304.0   288.0
2023-4-24 19:40  19:40  80300.0  80312.0  80293.0  80296.0   275.0
2023-4-24 19:35  19:35  80300.0  80311.0  80292.0  80301.0   143.0

In [56]:
# Поменяем порядок данных так, чтобы начало было в первой сроке
df = df[::-1]

In [57]:
# формирование подмножества данных и исключение нечисловых значений (NaN))
df = (pd.DataFrame(df).dropna())

In [58]:
df['return'] = df.Close - df.Open
print(df['return'])

2021-12-16 20:45    21.0
2021-12-16 20:50   -12.0
2021-12-16 20:55     5.0
2021-12-16 21:0    -38.0
2021-12-16 21:5    -22.0
                    ...
2023-4-24 19:35      1.0
2023-4-24 19:40     -4.0
2023-4-24 19:45      8.0
2023-4-24 19:50     -6.0
2023-4-24 19:55      1.0
Name: return, Length: 20261, dtype: float64

In [59]:
df['direction'] = np.sign(df['return']).astype(int)
print(df['direction'])

2021-12-16 20:45    1
2021-12-16 20:50   -1
2021-12-16 20:55    1
2021-12-16 21:0    -1
2021-12-16 21:5    -1
                   ..
2023-4-24 19:35     1
2023-4-24 19:40    -1
2023-4-24 19:45     1
2023-4-24 19:50    -1
2023-4-24 19:55     1
Name: direction, Length: 20261, dtype: int32

In [60]:
df['direction'].info()

<class 'pandas.core.series.Series'>
Index: 20261 entries, 2021-12-16 20:45 to 2023-4-24 19:55
Series name: direction
Non-Null Count  Dtype
--------------  -----
20261 non-null  int32
dtypes: int32(1)
memory usage: 237.4+ KB

In [61]:
# Модуль суммы всех членов последовательности
Sn = df['direction'].sum()
Sn

17

In [62]:
Sobs = Sn / math.sqrt(len(df['direction']))
Sobs

0.11943138896642967

In [63]:
# P-value
Pv = math.erfc(Sobs / math.sqrt(2))
Pv

0.9049335944593255

$P-value > 0.01$, поэтому отсюда делаем вывод, что последовательность случайна

Пробуем для интервала 1 час

In [64]:
# Загружаем данные
H1 = pd.read_csv('C:\SBERBANK\QUIK_x64\lua\Si-6.23\SiM3_data_23-04-23\SiM3_Data_H1.csv', index_col=0, parse_dates=False)

In [65]:
# Проиндексируем данные таким образом, чтобы дата и время стали индексом
H1.index = H1.index+ ' ' + H1['Time']
H1.head()

               Time     Open     High      Low    Close   Volume
2023-5-5 20:0  20:0  76302.0  76418.0  76302.0  76399.0   5602.0
2023-5-5 19:0  19:0  76467.0  76549.0  76209.0  76301.0  16957.0
2023-5-5 18:0  18:0  76569.0  76590.0  76360.0  76450.0  46601.0
2023-5-5 17:0  17:0  76400.0  76654.0  76397.0  76570.0  63857.0
2023-5-5 16:0  16:0  76148.0  76473.0  76078.0  76400.0  63669.0

In [66]:
# Поменяем порядок данных так, чтобы начало было в первой сроке
H1 = H1[::-1]

In [67]:
# формирование подмножества данных и исключение нечисловых значений (NaN))
H1 = (pd.DataFrame(H1).dropna())

In [68]:
H1['return'] = H1.Close - H1.Open
print(H1['return'])

2022-6-7 15:0   -271.0
2022-6-7 16:0      0.0
2022-6-7 17:0    259.0
2022-6-7 18:0      0.0
2022-6-8 10:0     -2.0
                 ...
2023-5-5 16:0    252.0
2023-5-5 17:0    170.0
2023-5-5 18:0   -119.0
2023-5-5 19:0   -166.0
2023-5-5 20:0     97.0
Name: return, Length: 3012, dtype: float64

In [69]:
H1['direction'] = np.sign(H1['return']).astype(int)
print(H1['direction'])

2022-6-7 15:0   -1
2022-6-7 16:0    0
2022-6-7 17:0    1
2022-6-7 18:0    0
2022-6-8 10:0   -1
                ..
2023-5-5 16:0    1
2023-5-5 17:0    1
2023-5-5 18:0   -1
2023-5-5 19:0   -1
2023-5-5 20:0    1
Name: direction, Length: 3012, dtype: int32

In [70]:
H1['direction'].info()

<class 'pandas.core.series.Series'>
Index: 3012 entries, 2022-6-7 15:0 to 2023-5-5 20:0
Series name: direction
Non-Null Count  Dtype
--------------  -----
3012 non-null   int32
dtypes: int32(1)
memory usage: 35.3+ KB

In [71]:
# Модуль суммы всех членов последовательности
Sn = H1['direction'].sum()
Sn

81

In [72]:
Sobs = Sn / math.sqrt(len(H1['direction']))
Sobs

1.4759020470849822

In [73]:
# P-value
Pv = math.erfc(Sobs / math.sqrt(2))
Pv

0.1399701898882605

$P-value > 0.01$, поэтому отсюда делаем вывод, что последовательность случайна. Один хуй больше 0,01

Пробуем для дневного

In [74]:
# Загружаем данные
D1 = pd.read_csv('C:\SBERBANK\QUIK_x64\lua\Si-6.23\SiM3_data_23-04-23\SiM3_Data_D1.csv', index_col=0, parse_dates=False)

In [75]:
# Проиндексируем данные таким образом, чтобы дата и время стали индексом
D1.index = D1.index+ ' ' + D1['Time']
D1.head()

              Time     Open     High      Low    Close     Volume
2023-5-5 0:0   0:0  77086.0  77086.0  75424.0  76377.0  1578171.0
2023-5-4 0:0   0:0  78239.0  78280.0  76406.0  77136.0  1437724.0
2023-5-3 0:0   0:0  78586.0  78848.0  77641.0  78220.0   958268.0
2023-5-2 0:0   0:0  79338.0  79630.0  78206.0  78586.0  1168695.0
2023-4-28 0:0  0:0  80317.0  80676.0  78250.0  79310.0  1791264.0

In [76]:
# Поменяем порядок данных так, чтобы начало было в первой сроке
D1 = D1[::-1]

In [77]:
# формирование подмножества данных и исключение нечисловых значений (NaN))
D1 = (pd.DataFrame(D1).dropna())

In [78]:
D1['return'] = D1.Close - D1.Open
print(D1['return'])

2021-6-14 0:0     245.0
2021-6-15 0:0   -1088.0
2021-6-18 0:0      80.0
2021-6-21 0:0     432.0
2021-6-22 0:0     -55.0
                  ...
2023-4-28 0:0   -1007.0
2023-5-2 0:0     -752.0
2023-5-3 0:0     -366.0
2023-5-4 0:0    -1103.0
2023-5-5 0:0     -709.0
Name: return, Length: 423, dtype: float64

In [79]:
D1['direction'] = np.sign(D1['return']).astype(int)
print(D1['direction'])

2021-6-14 0:0    1
2021-6-15 0:0   -1
2021-6-18 0:0    1
2021-6-21 0:0    1
2021-6-22 0:0   -1
                ..
2023-4-28 0:0   -1
2023-5-2 0:0    -1
2023-5-3 0:0    -1
2023-5-4 0:0    -1
2023-5-5 0:0    -1
Name: direction, Length: 423, dtype: int32

In [80]:
D1['direction'].info()

<class 'pandas.core.series.Series'>
Index: 423 entries, 2021-6-14 0:0 to 2023-5-5 0:0
Series name: direction
Non-Null Count  Dtype
--------------  -----
423 non-null    int32
dtypes: int32(1)
memory usage: 5.0+ KB

In [81]:
# Модуль суммы всех членов последовательности
Sn = D1['direction'].sum()
Sn = abs(Sn)
Sn

4

In [82]:
Sobs = Sn / math.sqrt(len(D1['direction']))
Sobs

0.19448665533052606

In [83]:
# P-value
Pv = math.erfc(Sobs / math.sqrt(2))
Pv

0.8457948437403361