# Анализ котировок

In [2]:
import scipy
import math
import numpy as np
import pandas as pd
import matplotlib
import sklearn
import tensorflow as tf

In [3]:
# Загружаем данные
df = pd.read_csv('C:\SBERBANK\QUIK_x64\lua\Si-6.23\SiM3_data_23-04-23\SiM3_Data.csv', index_col=0, parse_dates=False)

In [4]:
# Проиндексируем данные таким образом, чтобы дата и время стали индексом
df.index = df.index+ ' ' + df['Time']
df.head()

                  Time     Open     High      Low    Close  Volume
2023-4-24 19:55  19:55  80296.0  80300.0  80296.0  80297.0    53.0
2023-4-24 19:50  19:50  80302.0  80304.0  80293.0  80296.0   237.0
2023-4-24 19:45  19:45  80296.0  80324.0  80293.0  80304.0   288.0
2023-4-24 19:40  19:40  80300.0  80312.0  80293.0  80296.0   275.0
2023-4-24 19:35  19:35  80300.0  80311.0  80292.0  80301.0   143.0

In [5]:
# Поменяем порядок данных так, чтобы начало было в первой сроке
df = df[::-1]

In [6]:
# формирование подмножества данных и исключение нечисловых значений (NaN))
df = (pd.DataFrame(df).dropna())

In [7]:
df['return'] = df.Close - df.Open
print(df['return'])

2021-12-16 20:45    21.0
2021-12-16 20:50   -12.0
2021-12-16 20:55     5.0
2021-12-16 21:0    -38.0
2021-12-16 21:5    -22.0
                    ...
2023-4-24 19:35      1.0
2023-4-24 19:40     -4.0
2023-4-24 19:45      8.0
2023-4-24 19:50     -6.0
2023-4-24 19:55      1.0
Name: return, Length: 20261, dtype: float64

In [8]:
df['direction'] = np.sign(df['return']).astype(int)
print(df['direction'])

2021-12-16 20:45    1
2021-12-16 20:50   -1
2021-12-16 20:55    1
2021-12-16 21:0    -1
2021-12-16 21:5    -1
                   ..
2023-4-24 19:35     1
2023-4-24 19:40    -1
2023-4-24 19:45     1
2023-4-24 19:50    -1
2023-4-24 19:55     1
Name: direction, Length: 20261, dtype: int32

In [9]:
df['direction'].info()

<class 'pandas.core.series.Series'>
Index: 20261 entries, 2021-12-16 20:45 to 2023-4-24 19:55
Series name: direction
Non-Null Count  Dtype
--------------  -----
20261 non-null  int32
dtypes: int32(1)
memory usage: 237.4+ KB

In [12]:
# Модуль суммы всех членов последовательности
Sn = df['direction'].sum()
Sn

17

In [13]:
Sobs = Sn / math.sqrt(len(df['direction']))
Sobs

0.11943138896642967

In [14]:
# P-value
Pv = math.erfc(Sobs / math.sqrt(2))
Pv

0.9049335944593255

$P-value > 0.01$, поэтому отсюда делаем вывод, что последовательность случайна